body {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-family: "Lato";
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
  max-width: 780px;
  border: 1px solid;
  padding: 50px 20px;
  box-shadow: 5px 10px 18px #888888;
}

.logo {
    display: flex;
justify-content: center;
align-items: center;
  align-items: center;
  border-radius: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

ul {
  padding: 0px 20px;
  line-height: 1.2rem;
  text-align: left;
}

a {
  color: #d40000;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #fed501;
}

.button {
  padding: 5px 5px;
  background: #c30db7a2;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin: 20px;
  width: 150px;
}

.button:hover {
  background-color: #fed501;
  color: black;
  border: 2px solid black;
}
