/* GENERAL */

* {
  font-family: sans-serif;
}

h4 {
  margin: 0;
}

body {
  background-image: url("../img/calc-bg.png");
  background-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */
header {
  align-items: center;
  text-align: center;
}

header h1 {
 color:#00ff9d;
 font-size: 4rem;
}

/* SECTION */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  padding: 50px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #00ff9d, 15px 15px 1px 2px black;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid black;
  padding-left: 5px;
  outline: none;
  color: black;
  text-align: center;
}

input:focus {
  border-bottom: 5px solid rgb(63, 94, 251);
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  line-height: 10px;
  font-weight: bold;
  padding: 10px;
  background: #ffffff;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.btn-submit:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

/* FOOTER */

footer {
      position: absolute;
    bottom: 15px;
  background-color: white;
  text-align: center;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 45px;
}

@media (min-width: 728px) {
  body {
    background-color: var(--primary-bg);
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}
