.Modal {
  display: flex;
  justify-content: center;
}

.content {
  position: fixed;
  margin-top: 40px;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(33, 33, 33);
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

