$primary-color: rgb(0, 172, 238);
$secondary-color:  rgb(113, 118, 123);
$background-primary: rgb(0, 0, 0);
$background-secondary: rgb(230, 230, 230);
$text-primary: rgb(33, 33, 33);
$primary-border: 1px solid rgba(255, 255, 255, 0.3);