/* GENERAL */

:root {
  --primary-bg: #F5C556;
}

body {
background: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* HEADER */
header {
    align-items: center;
    text-align: center;
}

/* SECTION */

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
      gap: 15px;
      background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #c04949, 15px 15px 1px 2px black;
}

input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 200px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #c04949;
}

.button {
  display: block;
  margin: 0 auto;
  line-height: 40px;
  font-weight: bold;
  padding: 0 20px;
  background: #c04949;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}
.button:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

/* LIST* */

.list {
    padding-top: 30px;
}

.list ul {
  list-style-type: none;
}

li {
    background: #f8f4e5;
    border: 2px solid black;
  line-height: 25px;
margin: 20px 0px;
padding: 5px;
}

.list h1{
    text-align: center;
}

/* POKEMON CONTAINER */
.pokemon_container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
    width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(65, 65, 65, 0.705);
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.card h1 {
  font-size: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}

/* FOOTER */

footer {

  text-align: center;
  color: var(--primary-color);
}

@media (min-width: 728px) {
  body {
    background: url("../img/pkm-bg.webp") center 20% repeat;
  background-size: cover;
  }

}