.PostCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 18px 0px 18px;
  border-top: var(--primary-border);

  .userImage {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
  }

  .postContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-right: 10px;

    .textContent {
      span:nth-child(1) {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: capitalize;
      }
      span:nth-child(2) {
        color: var(--secondary-color);
        text-transform: lowercase;
      }
      p:nth-child(2) {
        margin-top: 5px;
      }
    }

    .LinkPreview {
      border: var(--primary-border);
      border-radius: 8%;

      .linkImage {
        width: 100%;
        border-radius: 8%;
      }

      .linkContent {
        padding: 12px;
      }
      .WebLink {
        color: var(--secondary-color);
      }
      .Title {
        margin: 0px;
  
      }
    }

    .postBarCounter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      width: 100%;

      .iconNumb {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }

      img {
        width: 18px;
        height: 18px;
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
      }
    }
  }
}
