@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

/* GENERAL */

body {
  background: url("https://wallpaperaccess.com/full/164889.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* HEADER */
header {
  align-items: center;
  text-align: center;
}

header img {
  width: 40%;
}

/* FORM SECTION */

.form-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 25px;
}

.form-containter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
.btn-submit {
  caret-color: rgb(135, 75, 124);
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.btn-submit {
  color: white;
  margin-top: 20px;
  background: rgb(135, 75, 124);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.btn-submit:hover {
  box-shadow: none;
}

.search-input {
  color: black;
  text-align: center;
  width: max-content;
  padding-left: 5px;
}

.search-input:focus {
  color: rgb(135, 75, 124);
}

/* SECTION */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.attori {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding-top: 25px;
}

.card {
  background-color: rgb(135, 75, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  box-shadow: 1px 1px 15px rgba(65, 65, 65, 0.705);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.card h1 {
  font-size: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}

.actor_edit {
  font-variant: small-caps;
  font-size: 1rem;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 200, 50);
  padding: 6px 20px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.actor_edit:hover {
  background: rgb(0, 200, 50);
  color: white;
  border: 2px solid black;
}

.actor_delete {
  font-variant: small-caps;
  font-size: 1rem;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  padding: 6px 20px;
  font-weight: 700;
  margin: 20px;
  cursor: pointer;
}

.actor_delete:hover {
  background: rgb(255, 0, 0);
  color: white;
  border: 2px solid black;
}

/* FOOTER */

footer {
  background-color: white;
  text-align: center;
  color: black;
  margin: 100px 0px 25px 0px;
  padding: 0px 20px;
  border-radius: 45px;
}

@media (min-width: 728px) {
  footer {
    text-align: center;
    bottom: 15px;
  }
}
