:root {
  --primary-color-white: rgb(255, 255, 255);
  --primary-color-green: rgb(50, 255, 150);
  --bg-color-dark: rgb(50, 58, 73);
  --bg-color-blue: rgb(31, 38, 50);
}

body {
  background: var(--bg-color-blue);
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-align: center;
}

main {
  height: 50vh;
}

.header-title {
  color: var(--primary-color-green);
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 30px var(--primary-color-green);
}

#card {
  background: var(--bg-color-dark);
  border-radius: 20px;
  margin: 50% auto;
  padding: 1rem;
}

#content {
  position: relative;
  overflow: hidden;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0 1rem 2.5rem 1rem;
}

.card-title {
  font-size: 13px;
  letter-spacing: 0.5rem;
  color: var(--primary-color-green);
  text-transform: uppercase;
  margin: 5px 0px 25px 0px;
}

#advice::after {
  content: url(./img/pattern-divider-mobile.svg);
  width: 100%;
  position: absolute;
  left: -40px;
  bottom: 0;
}

.advice-text {
  color: var(--primary-color-white);
  font-size: 20px;
  font-weight: bold;
}

.btn {
  margin-bottom: -40px;
}

#getAdvice {
  background: var(--primary-color-green);
  width: 50px;
  height: 50px;
  line-height: 65px;
  border: none;
  border-radius: 50%;
}

#getAdvice:hover {
  cursor: pointer;
  box-shadow: 1px 1px 30px var(--primary-color-green);
}

#getAdvice:active {
  box-shadow: 1px 1px 30px transparent;
}

footer {
  text-align: center;
  color: var(--primary-color-white);
}

/* --- LOADING SPINNER --- */

.lds-hourglass {
  display: none;
  position: absolute;
  left: 42%;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
}

.lds-hourglass-active {
  display: inline-block;
  z-index: 999;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid;
  border-color: var(--primary-color-green) transparent;
  animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      box-shadow: 1px 1px 30px var(--primary-color-green);

  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  }
  100% {
    transform: rotate(1800deg);
  }
}



@media (min-width: 420px) {
  main {
    height: 48vh;
  }

  #card {
    margin: 30vh auto;
    max-width: 400px;
  }

  #advice::after {
    content: url(./img/pattern-divider-desktop.svg);
  }
}
