:root {
  --primary-color: rgb(0, 172, 238);
  --secondary-color:  rgb(113, 118, 123);
  --primary-border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

input,
button {
  border: none;
}

.App {
  background-color: #000000;
  display: flex;
  flex-direction: column;

  .LeftSection {
    display: none;
    padding-top: 100px;
  }

  .MainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
  }

  .RightSection {
    display: none;
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .App {
  background-color: #000000;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

  .MainSection {
    width: 80%;
    display: flex;
    justify-content: center;
    border: var(--primary-border);
  }

  .LeftSection {
    display: block;
    width: 20%;
  }
}
}
@media (min-width: 1024px) {
  .App {
  background-color: #000000;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

  .MainSection {
    width: 34%;
    display: flex;
    justify-content: center;
    border: var(--primary-border);
  }

  .LeftSection {
    display: block;
    width: 33%;
  }

  .RightSection {
    display: block;
    width: 33%;
  }
}
}