body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(213, 212, 219, 1) 0%,
    rgba(238, 238, 189, 1) 100%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  max-width: 1200px;
  padding: 20px 0px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(65, 65, 65, 0.705);
}

.card img {
  width: 35%;
  height: auto;
  margin: 20px;
  padding: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.613);
}

.card h1 {
  font-size: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}

.pokemon-id {
  margin: 0;
  background-color: rgba(185, 185, 185, 0.37);
  border-radius: 16px;
  padding: 6px 20px;
  font-weight: 700;
  z-index: 1;
}

.pokemon-type {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0px;
  font-weight: 500;
}

.footer {
  text-align: center;
}
