html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #ffffff;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  color: #000000;
}

#home {
  align-items: center;
  margin: auto;
}

h1,
h2 {
  letter-spacing: 5px;
}

h5 {
  margin: 0px;
}

#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333333;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

#scroll-top a {
  text-decoration: none;
  color: #ffffff;
}

/* .inner {
  max-width: 1200px;
  margin: auto;
} */

/* ---> HEADER AND MENU <--- */
.navheader {
  background: #ffffffd3;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-bar {
  display: flex;
  align-items: baseline !important;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-bar-brand a {
  text-decoration: none;
  color: #333333;
  font-size: 2rem;
  transition: ease all 0.35s;
}

.nav-bar-brand a:hover {
  color: #ababab;
}

.nav-bar-link ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  font-size: 0.9rem;
}

.nav-bar-link a {
  text-decoration: none;
  color: #8b8b8b;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
}

.nav-bar-link a:hover {
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}

/* ---> HERO <--- */

.hero-caption {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: fit-content;
  position: absolute;
  top: 35vh;
  left: 2vh;
  padding: 30px;
  font-size: 1.5rem;
}

.hero-content h5,
h1,
p {
  margin: 10px 0px;
}

.hero-content button {
  margin-top: 20px;
}

.slider-1 {
  background: rgba(0, 0, 0, 0) url(./img/hero-bg-ph.jpg) repeat scroll right top /
    cover;
  height: 100vh;
}

.btn-dark {
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 0px;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: ease all 0.35s;
  display: inline-block;
  cursor: pointer;
}

.btn-dark a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 22px;
}

.btn-dark:hover {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.btn-dark a:hover {
  text-decoration: none;
  color: #000000;
}

.my-social {
  display: flex;
  background-color: rgba(33, 33, 33, 0.347);
  flex-direction: column;
  margin-top: 89vh;
  width: 100%;
}

.my-social-bar {
  display: flex;
  align-items: baseline !important;
  align-items: center;
  justify-content: space-between;
}

.my-social-bar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.my-social-bar a {
  color: #ffffff;
  text-decoration: none;
  transition: ease all 0.35s;
  font-size: 1.5rem;
  cursor: pointer;
}

.my-social-bar a:hover {
  font-weight: bold;
}

/* ABOUT ME */

#aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.about-item-image img {
  width: 100%;
}

.about-item-content h3 {
  font-size: 1.4rem;
}

.about-item-content h5 {
  color: #ad1917;
  font-weight: bold;
  font-size: 1.1rem;
}

.about-item-content span {
  font-weight: bold;
}

.about-contact-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.about-contact-btn-first,
.about-contact-btn-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* PORTFOLIO SECTION */

.portfolio-containter h1 {
  background-color: black;
  color: white;
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

/*container*/
.portfolio-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.5);
  filter: brightness(70%);
  transition: all 0.35s;
  cursor: pointer;
  width: 100%;
}

.card img:hover {
  filter: brightness(90%);
}

/* MOBILE */
@media only screen and (max-width: 767px) {
  .hero-caption {
    top: 35vh;
    left: 2vh;
    padding: 25px;
    font-size: 1.2rem;
  }

  .my-social {
    margin-top: 90vh;
  }

  .my-social-bar a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 767px) {
  .about-item-image,
  .about-item-content {
    width: 40%;
  }
  #portfolio {
    width: 80%;
    margin: auto;
  }
}
